<template>
  <div class="col-12">
    <h1 class="text-center">Tahminler</h1>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Takım</th>
        <th scope="col">Oran</th>

      </tr>
      </thead>
      <tbody>
      <tr v-for="item in estimate" :key="item.message">
        <th>{{ item.name }}</th>
        <td>{{ item.estimate }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</template>

<script>
export default {
  props:[
    "estimate"
  ],
  data() {
    return {
    }
  },

  methods: {
  }
}
</script>

<style>

</style>