<template>
  <div class="col-12">
    <h1 class="text-center">Tahminler</h1>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Ev Sahibi</th>
        <th scope="col">Deplasman Takımı</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in round" :key="item.message">
        <th>{{ item.home }}</th>
        <td>{{ item.away }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</template>

<script>

export default {
  props:[
    "round"
  ],
  methods: {}
}
</script>

<style>

</style>