<template>
  <div class="col-12">
    <h1 class="text-center">Takımlar</h1>

      <table class="table">
        <thead>
        <tr>
          <th scope="col">Takım</th>
          <th scope="col">P</th>
          <th scope="col">G</th>
          <th scope="col">M</th>
          <th scope="col">B</th>
          <th scope="col">A</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in team" :key="item.message">
          <th>{{ item.name }}</th>
          <th>{{ item.point }}</th>
          <th>{{ item.win_count }}</th>
          <th>{{ item.defeat_count }}</th>
          <th>{{ item.tie_count }}</th>
          <th>{{ item.average }}</th>
        </tr>
        </tbody>
      </table>

  </div>
</template>
<script>
export default {
  props: ['team'],
}
</script>

<style>

</style>