<template>
  <div class="col-12 my-3" v-if="!isCreated">
    <button class="btn btn-success btn-lg" @click="createFixture">Fikstür Başlat</button>
  </div>
  <div class="row" v-if="isCreated">
    <div class="col-4 my-3" v-for="item in fixture" :key="item.message">
      <h2> {{ item.week }}. HAFTA</h2>
      <table class="table">
        <thead>

        <tr>
          <th scope="col">Ev Sahibi Takım</th>
          <th scope="col">Misafir Takım</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="value in item.rounds" :key="value.message">
          <th>{{ value.home }}</th>
          <th>{{ value.away }}</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</template>

<script>

import axios from "axios";
import config from "@/config/config";

export default {
  name: 'App',
  data() {
    return {
      isCreated: false,
      fixture: {}
    }
  },
  methods: {

    createFixture() {
      var self = this;
      axios.post(config.baseURL + "/create-fixture").then(function (res) {
        self.isCreated = true;
        self.$store.state.week_screen = false;
        self.$store.state.fixture_screen = true;
        self.$store.state.team_screen = false;
        self.fixture = res.data.fixture;
        self.isCreated = true;
      });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}
</style>
