<template>
  <section class="container">
    <div class="">
      <welcome v-if="this.$store.state.welcome_screen"/>
      <team v-if="this.$store.state.team_screen"/>
      <fixture v-if="this.$store.state.fixture_screen"/>
      <div class="col-12 my-3" v-if="this.$store.state.fixture_screen">
        <button class="btn btn-success btn-lg" @click="startSimilation"> Similasyonu Başlat</button>
      </div>
      <div v-if="this.$store.state.week_screen">
        <week :week="item" v-for="item in this.$store.state.weeks" :key="item"/>
      </div>
      <div v-if="this.$store.state.week_screen">

      </div>


    </div>

  </section>
  <footer class="fixed-bottom text-center">
    <button class="btn btn-info mx-2" v-if="this.$store.state.week_screen && this.$store.state.week<7 " @click="playWeek">Play All</button>
    <button class="btn btn-info mx-2" v-if="this.$store.state.week_screen && this.$store.state.week<7 " @click="playWeek">Play Week</button>
    <button class="btn btn-info mx-2" @click="reset">Sıfırla</button>
  </footer>

</template>

<script>
import welcome from "@/components/Welcome";
import team from "@/components/Team";
import fixture from "@/components/Fixture";
import axios from "axios";
import config from "@/config/config";
import Week from "@/components/Week";

export default {
  name: 'App',
  props: {
    msg: String
  },
  data() {
    return {
    }
  },
  components: {
    Week,
    welcome, team, fixture
  },
  methods: {

    reset() {
      axios.post(config.baseURL + "/reset-data").then(function (res) {
        console.log(res);
        window.location.reload();
      });
    },
    playWeek() {
      var self = this;
      axios.post(config.baseURL + "/play-week/" + self.$store.state.week).then(function (res) {

        self.$store.commit('addWeek',res.data);
        self.$store.state.week += 1;
      });
    },
    startSimilation(){
      this.$store.state.week_screen = true;
      this.$store.state.fixture_screen = false;

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}
</style>
