<template>
  <div class="col-12">
    <h1 class="text-center">Takımlar</h1>
    <div v-if="start">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Takım</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in teams" :key="item.message">
          <th>{{ item.name }}</th>
        </tr>
        </tbody>
      </table>
    </div>
    <button @click="createTeam" v-if="!start" class="btn btn-success btn-lg">Takımları OLuştur</button>
  </div>
</template>
<script>
import config from "@/config/config";

const axios = require('axios');

export default {
  props: ['week'],
  data() {
    return {
      start: false,
      teams: {}
    }
  },

  methods: {

    createTeam() {
      var self = this
      axios.post(config.baseURL + "/create-team").then(function (res) {
        console.log(res.data);
        if (res.data.success == "ok") {
          self.$store.state.fixture_screen = true;
          self.$store.state.team_screen = true;
          self.start = true;
          self.teams = res.data.teams
        }
      })
    }
  },

}
</script>

<style>

</style>