<template>
  <div class="col-12 my-5"  style="background: #ddd;border: 2px black solid" >
    <h2>{{week.week}}. Hafta</h2>
    <div class="col-12 row">
      <div class="col-6">
        <team-point  :team="week.team"/>
      </div>
      <div class="col-3">
        <round :round="week.round"/>
       </div>
      <div class="col-3">
        <estimate v-if="week.week>3" :estimate="week.estimate"/>
        <p v-if="week.week<=3">4.haftadan sonra tahminler Oluşmaktadır</p>
      </div>
    </div>
    <div class="text-center">
        <button >Yeni Hafta</button>
    </div>
  </div>


</template>
<script>
import TeamPoint from "@/components/week/TeamPoint";
const axios = require('axios');
import config from "@/config/config";
import estimate from "@/components/week/Estimate";
import Round from "@/components/week/Round";
export default {
  props: ['week'],
  data() {
    return {
      users: {}
    }
  },
  components:{
    Round,
    TeamPoint,
    estimate
  },

  methods: {

    playWeek() {
      var self = this
      axios.get(config.baseURL +'/play-week/').end(function (err, res) {
        if (err) {
          console.log(err)
        } else {
          self.users = res.body
        }
      })
    },
  }
}
</script>

<style>

</style>