<template>
  <div class="row col-12">
    <div class="col-3">
      <img src="https://phoneky.co.uk/thumbs/screensavers/down/sports/worldcuptr_43xz7dhx.gif" class="">
    </div>
    <div class="col-6 h-100 text-center">

      <h1 style="margin-top:1.5em">
        Welcome To
      </h1>
      <h2>
        İnsider Champion League
      </h2>
    </div>
    <div class="col-3">
      <img src="https://phoneky.co.uk/thumbs/screensavers/down/sports/worldcuptr_43xz7dhx.gif">
    </div>
  </div>
  <div class="col-12 my-3">
    <button class="btn btn-success btn-lg" @click="startGame">Turnuvayı Başlat</button>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods:{
    startGame(){
      this.$store.state.welcome_screen=false;
      this.$store.state.team_screen=true;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img{
  max-width:200px;
}
</style>
